* {
    box-sizing: border-box;
}

.navbar {
    background: #ffffff;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: #3275a8;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-login,
.btn-register {
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login {
    background: white;
    color: #3275a8;
    border: 1.5px solid #3275a8;
}

.btn-login:hover {
    background: #f3f8fc;
}

.btn-register {
    background: #3275a8;
    color: white;
    border: 1.5px solid #3275a8;
}

.btn-register:hover {
    opacity: 0.92;
}


@media (max-width: 992px) {

    .navbar {
        flex-wrap: wrap;
    }

}