.toolbar {
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links button {
    font-size: 20px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 25px;
}

.auth-actions {
    display: flex;
    gap: 10px;
}